.dropdown{
    color: $white;
    position: relative;

    &.dark{
        color: $dark-black-blue;
        margin: 10px 0px;
        width: 80%;

        .d-header {
            justify-content: center;
        }
        
        .content {
            position: static;
            width: 100%;
            border-radius: 8px;
            
            &.active {
                align-items: center;
                background-color: $grayish-blue;
            }
        }
    }
    .d-header {
        display: flex;
        align-items: center;    
        min-width: 100px;
        font-size: 1.2rem;
        gap: 16px;

        img {
            &.rotate{
                transform: rotate(180deg);
                transition: all 500ms ease-in-out;
            }
        }

        span:hover{
            text-decoration: underline;
        }
    }

    .content {
        position: absolute;
        height: fit-content;
        width:  130px;
        font-size: 1rem;
        margin: 5px;
        background-color: $white;
        display: none;
        border-radius: 10px;
        padding: 10px 10px;

        &.active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        div {
            margin: 5px 0px;
            color: $dark-grayish-blue;
            font-weight: 500;
            &:hover{
                color: $dark-black-blue;
                font-weight: 700;
            }
        }
    }
}
