.footer {
    min-height: 250px;
    width: 100%;
    background-color: $dark-black-blue;
    border-radius: 0px 100px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;

    * div {
        max-width:  calc(100% / 4);
    }

    .logo_wrapper{
        height: 30px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .list_wrapper {

        p {
            color: $white;
            font-size: 1.6rem;
            margin: 9px 0px;
        }

        ul{
            list-style-type: none;
            font-size: 1.4rem;
            color: $grayish-blue;
            padding: unset;

            li {
                margin: 10px 0px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 2rem;
        justify-content: center;
        text-align: center;

        .logo_wrapper {
            height: unset;
            max-width: 100px;
           margin: auto;
        }
    }   
}