.header {
    min-height: 500px;
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: $primary-red;
    border-radius: 0px 0px 0px 70px;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .navbar {
        width: 100%;
        padding: 32px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            list-style-type: none;
            display: flex;
            padding: unset;

            li {
                padding: 0px 16px;
                align-self: center;
                span {
                    font-size: 1.6rem;
                }
            }
        }

        button {
            border: unset;
            background-color: unset;
            min-width: 100px;
            min-height: 40px;
            border-radius: 20px;
            font-weight: 600;
            color: $white;
            font-size: 1.6rem;
            
            &.active {
                background-color: $white;
                color: $primary-red;
            }
        }

        .menu_icon{
            display: none;
        }
    }

    &--content {
        display: flex;
        flex-direction: column;
        align-items: center;  

        h1 {
            color: $white;
            font-size: 4.2rem;
        }

        p {
            color: $grayish-blue;
            font-size: 1.6rem;
            margin: 24px 0px;
        }

        .btn--wrapper{
            display: flex;
            gap: 10px;
            margin-top: 16px;

            button {
                border: unset;
                background-color: none;
                font-size: 1.6rem;
                padding: 10px;
                border-radius: 30px;
                font-weight: 500;

                &:first-child{
                    background-color: $white;
                    color: $primary-red;
                
                }

                &:last-child{
                    color: $white;
                    border: 1px solid $btn-background;
                    background-color: $primary-red;
                }
            }
        }
    }
}


@media screen and (max-width : 1024px) {
    .header{
        .navbar {
            padding: 32px 24px;   

            .buttons {
                button {
                    min-width: 80px;
                }
            }
        }
     
    }
}

@media screen and (max-width : 768px) {
    .header{
        // position: relative;
        .navbar{
            .buttons{
                display: none;
            }

            ul  li:not(:first-child){
                display: none
            }

            .menu_icon {
                align-self: baseline;
                display: block;
            }
        }

        &--content{
            display: none;
        }
    }
}